<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <title>{% block title %}ENVOY{% endblock %}</title>
        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="shortcut icon" href="favicon.png">
        
        {% block head %}
        <link rel="stylesheet" href="styles/main.css">
        {% endblock %}
    </head>
    <body id="{% block page-id %}envoy{% endblock %}">
        {% include '_header.html' %}
        {% block content %}
        {% endblock %}
        {% include '_footer.html' %}
        {% block foot %}
        <script src="/scripts/main.js" type="text/javascript" async></script>
        {% endblock %}
    </body>
</html>